.block {
    position: absolute;

    top: 100px;
    left: 16px;

    display: flex;
    flex-direction: column;

    min-width: 400px;
    min-height: 300px;
    background-color: white;
    border-radius: 8px;

    border: 1px solid #DDD;

    transition: box-shadow 0.2s;

    overflow: hidden;
}

.blockActive {
    box-shadow: whitesmoke 0 0 24px;
}

.actions {
    padding: 8px;

    display: flex;
    justify-content: space-between;
}