.header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    margin-bottom: 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form>*:not(:last-child) {
    margin-top: 16px;
}

.form>*:last-child {
    margin-top: 24px;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}