.text {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.content {
    outline: none;
    cursor: text;

    padding: 16px;
    padding-bottom: 0;
    flex-grow: 1;
}

.text h1 {
    margin: 0;
}

/* .text span {
    font-family: monospace;
    background-color: whitesmoke;
    padding: 4px 8px;
    border-radius: 4px;
    line-height: 1;
} */