.button {
    width: 20px;
    height: 20px;
    padding: 8px;
    border-radius: 24px;

    transition: background-color 0.3s;

    cursor: pointer;

    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    user-select: none;
}

.button:hover {
    background-color: whitesmoke;
}

.button.danger:hover {
    background-color: rgb(255, 234, 234);
}